.policy {
  &Body {
    margin: 50px 0 0;
    .update {
      font-family: "PolySans Trial";
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: #ffffff;

      span {
        font-weight: 600;
      }
    }
    h2 {
      margin: 20px 0 0;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.011em;
      color: #ffffff;
    }
    h3 {
      margin: 10px 0 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.011em;
      color: #ffffff;
    }
    h4 {
      margin: 10px 0 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.011em;
      color: #ffffff;
    }
    h5 {
      margin: 10px 0 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.011em;
      color: #ffffff;
    }
    p {
      margin: 10px 0 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.011em;
      color: #b0b7c3;
    }
    ul {
      margin: 10px 0 0;
      li {
        position: relative;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.011em;
        color: #b0b7c3;
        padding: 0 0 0 20px;

        &:not(:first-child) {
          margin: 4px 0 0;
        }

        &:before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: #b0b7c3;
          border-radius: 40%;
          position: absolute;
          top: 10px;
          left: 6px;
        }

        span {
          font-weight: 600;
        }
        a {
          font-weight: 600;
          color: #b0b7c3;
          margin: 0 0 0 4px;
        }
      }
    }
  }
}

.header {
  margin: 24px 0 32px;

  &Body {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;

    span {
      margin: 0 0 0 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 2px;
      color: #d1fa01;
    }
  }
  &__close {
    cursor: pointer;

    svg {
      path {
        transition: all 0.4s ease;
      }
    }

    &:hover {
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
}
